*{
    margin: 0;
    padding: 0;
  background-color:aliceblue;
    box-sizing: border-box;
}


.side-bar{
    margin-left: 5px;
    width: 20%;
    height: 100vh;
    border: 1.5px solid black;
    background-color:bisque;
    float: left;
}