*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
background-color:whitesmoke;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}  
 
main{
  margin-left: 25%;
}

ul{
  width: 20%;
  height: 100%;
background-color:purple;
text-decoration: none;
position: fixed;
}
ul a{
  display: block ;
  font-size: 20px;
  padding: 5px 15px;
  color: yellow;
text-decoration: none;
}

li a:hover{
  transition: 0.3s;
  color: black;
  background-color: rgb(220, 220, 220);
}
.center{
  padding-top: 5%;
  margin-left: 40%;
  font-size: xx-large; 
}
h3{
  color: yellow;
  background-color: purple;
  width:30%;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loading{
from{
  width: 30%;
padding-left: 10px;
}
to{
  width: 50%;
  padding-left: 10%;
 
}
}